#holder{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.content-area {
	width: 100%;  
}

#draggable {
    width: 100%;
    height: 10px;
    background-color: cornflowerblue;
    cursor: row-resize;
}

#content-1 {
    background-color: chartreuse;
}

#content-2 {
    background-color: firebrick;
    flex-grow: 1;
}
