body {
	background-color: #ddd;
	margin-left: 25%;
	width: 50%;
}

#content > ul {
	list-style: none;
	padding-left: 0;
}


#content > ul > li {
	height: 50px;
	width: 100%;
	border-radius: 10px;
	background: #aaa;
	margin: 5px;
}

#content > ul > li:hover {
	background: #fff;
}

#button {
	width: 100%;
	text-align: center;
	background: rgb(60,60,120);
	height: 50px;
	margin: 5px;
	color: white;
	font-size: 20px;
	padding-top: 20px;
}
